<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h4 style="color: aliceblue">Employee CRUD</h4>
        <div class="d-flex">
            <button click="clickAddEmployee()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add Employee</button>
        </div>
    </div>
</nav>

<table class="table mt-3">
  <thead>
      <tr>
          <th scope="col">Employee ID</th>
          <th scope="col">First Names</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email ID</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Salary</th>
          <th scope="col">Action</th>
      </tr>
  </thead>
  <tbody>
         <tr *ngFor="let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.mobileNo}}</td>
            <td>{{row.salary}}</td>
             <td> 
                 <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                 <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Delete</button>
             </td>
         </tr>
  </tbody>

</table>


  
  <!-- Modal on clicking the add employee-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form class="row g-3" [formGroup]="formValue">
                <div class="col-auto">
                  <label for="staticEmail2" class="form-label">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="exampleInput" placeholder="Rahul">
                </div>
                <div class="col-auto">
                  <label for="inputPassword2" class="form-label">Last Name</label>
                  <input type="text" formControlName="lastName" class="form-control" id="inputPassword2" placeholder="Kumar">
                </div>
                <div class="col-auto">
                    <label for="inputPassword2" class="form-label">E-mail Address</label>
                    <input type="text" formControlName="email" class="form-control" id="inputPassword2" placeholder="Rahul.k@google.com">
                  </div>
                  <div class="col-auto">
                    <label for="inputPassword2" class="form-label">Mobile No.</label>
                    <input type="text" formControlName="mobileNo" class="form-control" id="inputPassword2" placeholder="9088786673">
                  </div>
                  <div class="col-auto">
                    <label for="inputPassword2" class="form-label">Salary</label>
                    <input type="text" formControlName="salary" class="form-control" id="inputPassword2" placeholder="$18,150">
                  </div>
              </form>

        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button"  (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
          <button type="button"  (click)="updateEmployee()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>

  <!--*ngIf="showAdd"  add
  
  update 
*ngIf="showUpdate"
-->